.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 10px;
    height: 8vh;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff30;
    box-shadow: 0 0px 2px 0 white;
    position: fixed;
    z-index: 100;
    background-color: black;

    img {
        height: 80px;
        border-radius: 5px;
        cursor: pointer;
    }

    a {
        font-size: 33px;
        text-decoration: none;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        scroll-behavior: smooth;

        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }
}

@media (max-width: 1200px) {
    .main {
        padding-left: unset;
        padding-right: unset;
        padding-top: unset;
        padding-bottom: unset;
        height: unset;
        padding: 1em;
        justify-content: center;
        a {
            font-size: 1em;
            padding: 0 1em;
        }
        img {
            height: 3em;
        }
    }
}
