<div class="mainContainer">

    <div class="text">
        <a routerLink="/imprintPage">Imprint</a>
        <a style="padding-left: 2rem;" routerLink="/data-protection">Data protection</a>
    </div>

    <div class="images">
        <a style="padding-right: 32px;" href="https://www.linkedin.com/in/ali-ahmad-a28a48232/" target="blank"><img
                src="assets/img/linkedin-box-fill.png"></a>
        <a href="https://github.com/Ali-Ahmad2002" target="blank"><img src="assets/img/github-fill.png" alt=""></a>
        <!-- <a href="https://www.xing.com/profile/Ali_Ahmad149/cv" target="blank"><img src="assets/img/xing-fill.png"></a> -->
    </div>

</div>