.mainContainer {
    background-color: #131111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

img {
    object-fit: cover;
    height: 200px;
    border-radius: 5%;
    width: 200px;
}

h1 {
    color: white;
    font-size: 50px;
    padding-bottom: 2rem;
}

span {
    color: white;
    font-size: 24px;
}

.imgContainer {
    padding-left: 250px;
}

.textContainer {
    width: 40%;
    padding-right: 250px;
}
