<div class="sectionContainer">
    <div class="childContainer">
        <h1>
            <div style="height: 200px;">
                <div class="headChilds" id="typed-strings">
                    <p>
                        Hi, <br> <br>
                        I´m <span class="nameColor">Ali Ahmad</span> <br> <br>
                        Front End developer
                    </p>
                </div>
                <span id="typed"></span>
            </div>

            <div>
                <a href="#contact"> <button> Contact me</button></a>
            </div>
        </h1>

        <div>
            <img class="myImg" src="assets/img/40d0c6c3.jpg" alt="">
        </div>
    </div>




    <div class="arrowContainer">
      <a href="#skillContainer"><img src="assets/img/arrow_drop_down_white_24dp.svg" alt=""></a>  
    </div>





</div>