
<div class="main">
    <div class="mainContainer">

        <div class="headlineContainer">
            <div class="headContainer">
                <h1>Contact me</h1>
        
                <span>Get in touch via the form, or by emailing aliahmad.557755@gmail.com</span>
            </div>
        </div>
    
        
    
        <form action="">
    
            <div class="childContainer">
                <h3>Name</h3>
                <input type="text" name="name" placeholder="Enter your name">
        
                <h3>Email adress</h3>
                <input type="email" name="email" placeholder="Enter your Email adress">
        
                <h3>Message</h3>
                <textarea placeholder="Enter your message" name="message" cols="30" rows="10"></textarea>
                <br>
                <button>Send</button>
            </div>
            
    
        </form>
    
    </div>
</div>

