.contact {
    display: flex;
    justify-content: center;
    h1 {
        color: #2efcd8;
        text-align: start;
        font-size: 50px;
        margin-bottom: 8px;
    }
    p {
        color: white;
    }
}

.contact-text {
    padding-bottom: 3rem;
}

.section-content {
    padding-top: 50px;
    padding-bottom: 50px;
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
}

.inputContainer {
    width: 100%;
    input {
        width: 96%;
        height: 1rem;
        padding: 8px;
        margin-bottom: 2rem;
    }

    textarea {
        width: 96%;
        padding: 8px;
    }
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
        width: 50%;
        padding: 8px;
        background-color: transparent;
        color: #2efcd8;
        border: 1px solid #2efcd8;
        cursor: pointer;
    }
}

.mailSuccess {
    width: 100%;
    height: 16rem;
    position: absolute;
    background-color: #2efcd8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    animation: overlay 125ms ease-in-out;
}

@keyframes overlay {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

@media (max-width: 1200px) {
    .section-content {
        form {
            padding: 0 1em;
        }
    }
    .contact-text {
        padding-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            text-align: center;
        }
    }
    .btn-container {
        width: unset;
        justify-content: center;
    }
}
