<div class="contact" id="contact">
    <div class="section-content">
        <div class="contact-text">
            <h1>Contact Me</h1>
            <p>Get in touch with me via the contact form below <i>aliahmad.557755@gmail.com</i> </p>
        </div>
        <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
            <div class="inputContainer">
                <!-- <label for="fname">Name</label> -->
                <input type="text" placeholder="What is your Name?" id="name" required [(ngModel)]="contact.name"
                    name="name" #name="ngModel" />
            </div>
            <div class="inputContainer">
                <!-- <label for="country">E-Mail address</label> -->
                <input type="email" placeholder="What is your Email Address?" [(ngModel)]="contact.email" name="email"
                    #email="ngModel" />
            </div>


            <div *ngIf="successActive" class="mailSuccess">

                <h2>Your message has been sent successfully</h2>

            </div>


            <div class="inputContainer">
                <!-- <label for="subject">Message</label> -->
                <textarea name="" id="" rows="10" placeholder="What would you like to tell me?" required
                    [(ngModel)]="contact.message" name="message" #message="ngModel"></textarea>
                <div class="btn-container">
                    <button type="submit" [disabled]="!contactForm.form.valid" (click)="showSending()">
                        Send
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>