<div class="sectionContainer">
    <div class="childContainer">
        <h1>
            <div class="headChilds">
                <p data-aos="zoom-in"> Hi,</p>
                <p data-aos="zoom-in"> I´m <span>Ali Ahmad</span> </p>
                <p data-aos="zoom-in">Front End developer</p>
            </div>


            <div>
                <a href="#contact"> <button> Contact me</button></a>
            </div>
        </h1>

        <div>
            <img src="assets/img/40d0c6c3.jpg" alt="">
        </div>
    </div>




    <div class="arrowContainer">
        <img src="assets/img/arrow_drop_down_white_24dp.svg" alt="">
    </div>


</div>