<div class="sectionContainer">
    <div class="childContainer">
        <h1>
            <div class="headChilds">
                <p> Hi,</p>
                <p>I´m <span>Ali Ahmad</span> </p>
                <p>Front End developer</p>
            </div>
            

            <div>
                <button>Contact me</button>
            </div>
        </h1>

        <div>
            <img src="assets/img/blankPP.png" alt="">
        </div>
    </div>

    


    <div class="arrowContainer">
        <img src="assets/img/arrow_drop_down_white_24dp.svg" alt="">
    </div>


</div>

<canvas id="hello"><div id="hello"></div>