.mainContainer {
    height: 20vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 20px;
        color: #bac1c9;
    }

    img {
        padding-left: 7%;
        cursor: pointer;
    }
}

.text {
    padding-left: 150px;
}

.images {
    padding-right: 150px;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
