<div id="skillContainer" class="mainContainer">

    <h1>My skills</h1>

    <div class="firstContainer">
        <div class="secondCon">
            <div class="thirdCon" *ngFor="let skills of allSkills" >
                <div class="mainskillContainer" data-aos="fade-right">
                    <div class="mainIconContainer">
                        <div>
                            <img src="{{ skills.img }}" alt="">
                        </div>
                    </div>
                    <h2> {{ skills.skill }} </h2>
                </div>
            </div>
        </div>
    </div>


</div>